/*Body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #dde;
}
/*            Body ends          */
/*      navBar starts here       */
.navbar {
  display: flex;
  flex-wrap: wrap;
}
.header
{
  width: 100%;
  background: white;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
}
.header ul {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  list-style-type: none;
  background-color: white;
}
.header ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease 0.5s;
  cursor: pointer;
}
@media (min-width: 600px) {
  .btn {
    display: none;
  }
  .ui.input > input {
    margin-top: 1em;
  }
  
  .navElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.8em;
    margin-right: 0.5em;
  }

  
  .header ul li a:hover {
    color: #faaa31;
  }
  .navElements li {
    margin-left: 2em;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .header ul li a:hover {
    color: #faaa31;
  }
  .btn {
    
      background-color: rgb(206, 200, 192);
      padding: 5px 20px;
      float: right;
      border-radius: 20px;
      border: none;
      margin-left: 75px;
      position: relative;
      margin-right: 1em;
      margin-top: 1.5em;
    
  }
  .btn:hover {
    background-color: hsl(44, 92%, 75%);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .navElements {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  .show {
    display: block;
  }
  
  
}

/*           navbar ends here               */


/*            About container            */
.content {
  align-items: center;
  margin: 5px 2em;
}
.banner {
  background-color: white;
  padding: 3% 2em;
  margin: 0px 2em;

}
.content_wrapper {
  align-content: center;
  background-color: white;
  margin: 0px 2em;
  padding: 0px 1em;
}
.grid_coloumn_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
}
.profile_image {
  width: 100%;
  height: auto;
}
.about {
  padding: 3%;

  font-size: small;
}
.image,
.about {
  padding-top: 5px;
  align-items: center;
}
/*       about section ends here       */
/*Footer*/
.footer-container {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: black;
  padding: 36px;
  display: flex;
  flex-direction: column;
}

footer h4 {
  color: whitesmoke;
  font-size: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: #f39d1a;
}

.insta-icon:hover {
  color: #cd486b;
}

.facebook-icon:hover {
  color: #4267b2;
}

.linkedin-icon:hover {
  color: #0e76a8;
}

footer ul {
  list-style: none;
  margin-top: 16px;
  text-decoration: none;
  color: white;
}

footer ul li {
  margin: 12px 8px;
  text-decoration: none;
}
@media (min-width: 600px) {
  
  
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
  }
  .footer-icons .footer-links {
    border-right: 10px solid whitesmoke;
  }
  footer .footer-icons {
    text-align: center;
    padding-right: 90px;
    padding-left: 90px;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 20vh 30vh;
  }
  .footer-links {
    border: none;
  }
  .footer-icons {
    border: none;
  }
  .footer-icons {
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 15px;
  }
}
footer .footer-links {
  text-align: center;
  font-size: 15px;
}

footer .footer-icons .social-icons {
  margin-top: 16px;
}

footer .footer-icons .social-icons i {
  font-size: 20px;
}

footer .footer-contact {
  text-align: center;
  font-size: 16px;
}

footer .footer-copyright {
  width: 100%;
  font-size: 16px;
  color: rgb(171, 212, 218);
  text-align: center;
  margin-top: 10px;
}
/*Footer Ends*/
